doctype html
html(lang="en")
    head
        title guardian pagespeed
        meta(charset='utf-8')
        link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        style.
            !{css}

    body.guardian

        .container
            block content
        script.
            var series = [!{JSON.stringify(chartist.series['guardian'])},!{JSON.stringify(chartist.series['guardian-mobile'])}],labels = [!{chartist.labels}]; !{js}
