each site, index in sites
    tr
        td(class=site.sites['guardian'].score < 50 ? "slow" : "",data-screenshot=site.sites['guardian'].filename)
            span.psi= site.sites['guardian'].score
            span.dcl= dcl(site.sites['guardian'].dcl)
        td(class=site.sites['guardian-mobile'].score < 50 ? "slow" : "",data-screenshot=site.sites['guardian-mobile'].filename)
            span.psi= site.sites['guardian-mobile'].score
            span.dcl= dcl(site.sites['guardian-mobile'].dcl)
        td
            span(title=moment(site.date).format('LLLL'))
            span.date(data-date=site.isoDate)=site.isoDate
