each site, index in sites
    tr
        td(class=site.sites['desktop-with-ads'].score < 50 ? "slow" : "",data-screenshot=site.sites['desktop-with-ads'].filename)

            span.psi= site.sites['desktop-with-ads'].score
            span.dcl= dcl(site.sites['desktop-with-ads'].dcl)
        td(data-screenshot=site.sites['desktop-without-ads'].filename)
            span.psi(title=('PageSpeed für ' + site.sites['desktop-without-ads'].url))=site.sites['desktop-without-ads'].score
            span.dcl= dcl(site.sites['desktop-without-ads'].dcl)

        td(data-screenshot=site.sites['desktop-with-ads-async'].filename)
            span.psi(title=('PageSpeed für ' + site.sites['desktop-with-ads-async'].url))=site.sites['desktop-with-ads-async'].score
            span.dcl= dcl(site.sites['desktop-with-ads-async'].dcl)

        td(class=site.sites['mobile-with-ads'].score < 50 ? "slow" : "",data-screenshot=site.sites['mobile-with-ads'].filename)
            span.psi.mobile= (site.sites['mobile-with-ads'].score)
            span.dcl= dcl(site.sites['mobile-with-ads'].dcl)
        td(data-screenshot=site.sites['mobile-without-ads'].filename)
            span.psi(title=('PageSpeed für ' + site.sites['mobile-without-ads'].url))=site.sites['mobile-without-ads'].score
            span.dcl= dcl(site.sites['mobile-without-ads'].dcl)
        td
            span(title=moment(site.date).locale('de').format('LLLL'))
            span.date(data-date=site.isoDate)=site.isoDate