extends base
block content
	h1 PageSpeed für stern.de
		a(href='data.csv') 📃
	div.screenshot
	table.table.table-striped.table-hover
				thead
					tr
						th
						th Desktop
						th Desktop (ohne Werbung)
						th Mobile
						th Mobile (ohne Werbung)
						th Datum
				tbody
					each site, index in sites
						tr(class=site.score < 50 ? "slow" : "")
							td=sites.length-index

							td(data-label=site.label+'-'+site.id)
								span= ('💻 ' + site.score)
							td(data-label=site.related[1].label+'-'+site.related[1].id)
								em(title=('PageSpeed für '+ site.related[1].url))=site.related[1].score
							td(data-label=site.related[0].label+'-'+site.related[0].id)
								span.mobile= ('📱 ' + site.related[0].score)
							td(data-label=site.related[2].label+'-'+site.related[2].id)
								em(title=('PageSpeed für '+ site.related[2].url))=site.related[2].score
							td
								span(title=moment(site.date).locale('de').format('LLLL'))
								span.date=site.isoDate
			if !sites.length
				p No entries found.


