extends base
block content
	h1 PageSpeed Monitoring
		a(href='data.csv') 📃
	div.screenshot
	div.ct-chart
	table.table.table-striped.table-hover
				thead
					tr
						th Desktop
						th Desktop (ohne Werbung)
						th Mobile
						th Mobile (ohne Werbung)
						th Datum
				tbody
					each site, index in sites
						tr
							td(class=site.score < 50 ? "slow" : "",data-screenshot=site.filename)
								i 💻
								span= site.score
							td(data-screenshot=site.related[1].filename)
								em(title=('PageSpeed für '+ site.related[1].url))=site.related[1].score
							td(class=site.related[0].score < 50 ? "slow" : "",data-screenshot=site.related[0].filename)
								i 📱
								span.mobile= (site.related[0].score)
							td(data-screenshot=site.related[2].filename)
								em(title=('PageSpeed für '+ site.related[2].url))=site.related[2].score
							td
								span(title=moment(site.date).locale('de').format('LLLL'))
								span.date(data-date=site.isoDate)=site.isoDate
			if !sites.length
				p No entries found.


