each site, index in sites
	tr
		td(class=site.sites['smashing'].score < 50 ? "slow" : "",data-screenshot=site.sites['smashing'].filename)
			i 💻
			span= site.sites['smashing'].score
		td(class=site.sites['smashing-mobile'].score < 50 ? "slow" : "",data-screenshot=site.sites['smashing-mobile'].filename)
			i 📱
			span= site.sites['smashing-mobile'].score
		td
			span(title=moment(site.date).locale('en').format('LLLL'))
			span.date(data-date=site.isoDate)=site.isoDate
