each site, index in sites
    tr
        td(class=site.sites['smashing'].score < 50 ? "slow" : "",data-screenshot=site.sites['smashing'].filename)
            span= site.sites['smashing'].score
            span= site.sites['smashing'].dcl
        td(class=site.sites['smashing-mobile'].score < 50 ? "slow" : "",data-screenshot=site.sites['smashing-mobile'].filename)
            span= site.sites['smashing-mobile'].score
            span= site.sites['smashing-mobile'].dcl
        td
            span(title=moment(site.date).locale('en').format('LLLL'))
            span.date(data-date=site.isoDate)=site.isoDate
