

extends base

block content


  h1=('PageSpeed für www.stern.de (mobil, mit und ohne GujAd)')
  table.table.table-striped.table-hover
    thead
      tr: th Score
          th Datum
    tbody
      each site in sites
        tr(class=site.score < 50 ? "slow" : "")
            td
               span= ('💻 ' + site.score)
                  em(title=('PageSpeed für '+ site.related[1].url))=site.related[1].score
                  span.mobile= ('📱 ' + site.related[0].score)
                    em(title=('PageSpeed für '+ site.related[2].url))=site.related[2].score
            td(title=moment(site.date).locale('de').format('LLLL')) #{moment(site.date).locale('de').fromNow()}

  if !sites.length
    p No entries found.